.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.cart {
  min-width: 50vh;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.products {
  background-color: #282c34;
  width: 108vh;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
}

/*.product {*/
/*  background-color: #6F73D2;*/
/*  margin: 2vh;*/
/*  padding: 2vh;*/
/*  border-style: outset;*/
/*}*/

/*.mdc-card__media {*/
/*  background-image: url("merve-aydin-jD2dIC2IZME-unsplash.jpg");*/
/*  background-repeat: no-repeat;*/
/*  height: 30vh;*/
/*}*/

img {
  max-height: 30vh;
  min-width: 100%;
}

.mdc-card {
  /*height: 300px;*/
  max-width: 50vh;
  padding: 2vh;
  margin: 2vh;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: auto;
}

